$background: #FFFFFF;
$accent: #F5F5F5;
$heading: #111111;
$copy: #C5C2C2;
$primary: #FBE30D;
$secondary: #5117EE;

@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@function tint($color, $percentage) {
  @return mix(#FFFFFF, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(#000000, $color, $percentage);
}

@mixin device($breakpoint){
  @if $breakpoint == tablet{
    @media only screen and (max-width: 680px){
      @content;
    }
  }
  @if $breakpoint == mobile{
    @media only screen and (max-width: 481px){
      @content;
    }
  }
}

body {
  padding: 5em 0 10em 0;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: $heading;
  background: $background;
  @include device(mobile){
    padding: 3em 0;
  }
}

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
}

a {
  transition: 0.2s;
}

div.container {
  margin: 0 auto;
  width: 90%;
}

#header {
  margin-bottom: 5em;
  display: flex;
  align-items: center;
  @include device(mobile){
    margin-bottom: 3em;
  }
  img {
    margin-right: 1em;
    height: 3.5em;
    @include device(mobile){
      margin-right: .6em;
      height: 2.5em;
    }
  }
  h1, p {
    font-size: 1.2em;
    @include device(mobile){
      font-size: 1em;
    }
  }
  h1 {
    font-weight: 600;
  }
  p {
    color: $copy;
  }
}

#hero {
  margin-bottom: 10em;
  @include device(mobile){
    margin-bottom: 3em;
  }
  h1 {
    margin-bottom: 2em;
    font-size: 4em;
    font-weight: 500;
    @include device(mobile){
      margin-bottom: 1em;
      font-size: 2em;
    }
    a {
      color: $primary;
      &:hover {
        color: tint($primary, 50);
      }
    }
  }
  nav {
    a {
      padding: 0 1em;
      height: 2.5em;
      display: inline-block;
      line-height: 2.5em;
      font-size: 1.5em;
      font-weight: 500;
      color: $heading;
      text-decoration: none;
      border-radius: 2.5em;
      @include device(mobile){
          font-size: 1em;
      }
      span {
        color: $secondary;
      }
      &:first-child {
        margin-right: 1em;
        border: 1px solid $accent;
        background: $background;
        box-shadow: 0 .5em 1em rgb(115,113,113,.05);
        @include device(mobile){
          margin-bottom: 1em;
        }
        &:hover {
          box-shadow: 0 -.5em 1em rgb(115,113,113,.05);
        }
      }
      &:last-child {
        background: $accent;
        &:hover {
          background: shade($accent, 5);
        }
      }
    }
  }
}

#story {
  p {
    margin-bottom: 2.5em;
    line-height: 1.5em;
    font-size: 2em;
    @include device(mobile){
      margin-bottom: 1.5em;
      font-size: 1.2em;
    }
    a {
      font-weight: 600;
      color: $heading;
      text-decoration: none;
      border-bottom: 1px solid $accent;
      &:hover {
        color: $secondary;
      }
      &.medium:hover {
        color: #00AB6C;
      }
      &.twitter:hover {
        color: #1DA1F2;
      }
      &.instagram:hover {
        color: #C13584;
      }
      &.dribbble:hover {
        color: #EA4C89;
      }
      &.apple:hover {
        color: #FA57C1;
      }
    }
  }
  button {
    padding: 0 1em 0 2.2em;
    height: 2.5em;
    display: inline-block;
    line-height: 2.5em;
    font-size: 1.5em;
    color: $heading;
    text-decoration: none;
    position: relative;
    border: none;
    background: $accent;
    border-radius: 2.5em;
    @include device(mobile){
      font-size: 1em;
    }
    &:before {
      width: .6em;
      height: .6em;
      display: block;
      content: "";
      position: absolute;
      left: 1em;
      top: 0.95em;
      border-radius: 100%;
      background: #FF8686;
    }
  }
}
