@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
body {
  padding: 5em 0 10em 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #111111;
  background: #FFFFFF;
}
@media only screen and (max-width: 481px) {
  body {
    padding: 3em 0;
  }
}

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
}

a {
  transition: 0.2s;
}

div.container {
  margin: 0 auto;
  width: 90%;
}

#header {
  margin-bottom: 5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 481px) {
  #header {
    margin-bottom: 2em;
    display: block;
  }
}
#header .logo {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 481px) {
  #header .logo {
    width: 100%;
  }
}
#header .logo img {
  margin-right: 1em;
  height: 3.5em;
}
@media only screen and (max-width: 481px) {
  #header .logo img {
    margin-right: 0.6em;
    height: 2.5em;
  }
}
#header .logo h1, #header .logo p {
  font-size: 1.2em;
}
@media only screen and (max-width: 481px) {
  #header .logo h1, #header .logo p {
    font-size: 1em;
  }
}
#header .logo h1 {
  font-weight: 600;
}
#header .logo p {
  color: #C5C2C2;
}
@media only screen and (max-width: 481px) {
  #header .download {
    display: none;
  }
}
#header .download a {
  padding: 0 1em;
  height: 2.5em;
  display: inline-block;
  line-height: 2.5em;
  font-size: 1.5em;
  font-weight: 500;
  color: #111111;
  text-decoration: none;
  background: #F5F5F5;
  border-radius: 2.5em;
}
@media only screen and (max-width: 481px) {
  #header .download a {
    font-size: 1em;
  }
}
#header .download a:hover {
  background: #e9e9e9;
}

#hero {
  margin-bottom: 8em;
}
@media only screen and (max-width: 481px) {
  #hero {
    margin-bottom: 3em;
  }
}
#hero h1 {
  margin-bottom: 1.5em;
  font-size: 4.5em;
  font-weight: 500;
}
@media only screen and (max-width: 481px) {
  #hero h1 {
    margin-bottom: 1em;
    font-size: 2em;
  }
}
#hero h1 a {
  color: #5117EE;
}
#hero h1 a:hover {
  color: #a88bf7;
}
#hero nav a {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  padding: 0 1em;
  height: 2.5em;
  display: inline-block;
  line-height: 2.5em;
  font-size: 1.5em;
  font-weight: 500;
  color: #111111;
  text-decoration: none;
  background: #F5F5F5;
  border-radius: 2.5em;
}
@media only screen and (max-width: 481px) {
  #hero nav a {
    font-size: 1em;
  }
}
#hero nav a:hover {
  background: #e9e9e9;
}
#hero nav a.mobile {
  display: none;
}
@media only screen and (max-width: 481px) {
  #hero nav a.mobile {
    display: inline-block;
  }
}

#story p {
  margin-bottom: 2em;
  line-height: 1.5em;
  font-size: 2.5em;
}
#story p.hide {
  display: none;
}
@media only screen and (max-width: 481px) {
  #story p {
    margin-bottom: 1.5em;
    font-size: 1.2em;
  }
}
#story p a {
  font-weight: 600;
  color: #111111;
  text-decoration: none;
  border-bottom: 1px solid #F5F5F5;
}
#story p a:hover {
  color: #5117EE;
}
#story p a.medium:hover {
  color: #00AB6C;
}
#story p a.twitter:hover {
  color: #1DA1F2;
}
#story p a.instagram:hover {
  color: #C13584;
}
#story p a.dribbble:hover {
  color: #EA4C89;
}
#story p a.apple:hover {
  color: #FA57C1;
}
#story button {
  padding: 0 1em 0 2.2em;
  height: 2.5em;
  display: inline-block;
  line-height: 2.5em;
  font-size: 1.5em;
  color: #111111;
  text-decoration: none;
  position: relative;
  border: none;
  background: #F5F5F5;
  border-radius: 2.5em;
}
@media only screen and (max-width: 481px) {
  #story button {
    font-size: 1em;
  }
}
#story button:before {
  width: 0.6em;
  height: 0.6em;
  display: block;
  content: "";
  position: absolute;
  left: 1em;
  top: 0.95em;
  border-radius: 100%;
  background: #FF8686;
}

/*# sourceMappingURL=main.css.map */
